spring:
  profiles:
    active: "prod"
  config:
    import: "optional:configserver:http://localhost:9999/"
  application:
    name: game-microservice
  datasource:
    url: 'jdbc:h2:mem:gamedb'
  h2:
    console:
      enabled: true
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  cloud:
    config:
      enabled: false
    discovery:
      enabled: false
  gateway:
    discovery:
      locator:
        enabled: true
        lower-case-service-id: true
  eureka:
    client:
      service-url:
        defaultZone: 'http://localhost:8761/eureka/'
management:
  endpoints:
    web:
      exposure:
        include: '*'
eureka:
  instance:
    prefer-ip-address: true

build:
  version : 1.0
author:
  name: "eya garali"
  email: "eyagarali26@gmail.com"